html {
    scroll-behavior: smooth;
}


div.cell h1 p {
    font-weight: bolder;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: firebrick;
    font-size: 150%;
}

div.cell {
    text-align: center;
}

div.cell h2 p {
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}

enha-cigije {
    font-size: larger;
    text-align: center;
}

.line {
    border: 2px solid gray;
    border-radius: 5px;
}

#fomenu {
    
}

div.kismenu p {
    font-size: 150%;
    font-weight: bold;
    margin-left: 10%;
}